
.aboutspace{
    width: 100%;
    height: 300px;
    display: flex;
    background-size: cover;
    background-image: url(../images/documenttravelkd.webp);
    background-repeat: no-repeat, no-repeat;
}
.rightspace{
    width: 65%;
    height: 300px;
}
.aboutword{
    width: 35%;
    height: fit-content;
    padding: 50px;
    padding-bottom: 0;
}
.aboutword h5{
    text-align: right;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-left: 30px;
    line-height: 30px;
    padding-bottom: 50px;
}
.aboutword h5:hover{
    color: #3d3d3d;
    transition: 1s;
}
spanuhdrt6{
    font-size: 15px;
    cursor: pointer;
    border-bottom: 2px solid red;
    animation: animate 3s linear infinite;
}
spanuhdrt6:hover{
    border-bottom: 2px solid blue;
    transition: 1s;
    letter-spacing: 1px;
}

/*
 .aboutword spanrtyfc76c{
    position: fixed;
    height: 2px;
    top: 60px;
    width: 100px;
    animation-direction: alternate;
    background-color: #fff;
    animation: animate 3s linear infinite;

}
@keyframes animate{
    0%{
        width: 30%;
        left: 0;
        transform: translate(-100%);
    }
    100%{
        width: 5%;
        left: 100%;
        transform: translate(0);
    }
    0%{
        left: 0;
    }
}  */

.fabout{
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(194, 194, 194);
}
.insideabout{
    display: flex;
    width: 80%;
    height: fit-content;
    padding: 10px;
}
.insideabout h1{
    width: 400px;
    border-right: 2px solid red;
    height: fit-content;
    font-weight: 600;
    cursor: pointer;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.insideabout p{
    text-align: justify;
    padding: 5px;
    padding-left: 15px;
}
.missi{
    background-color: white;
    width: 100%;
    height: fit-content;
}
.missi H5{
    padding: 20px;
    font-size: 20px;
}
.missi ul{
    display: flex;
    list-style: none;
    width: 70%;
}
.missi ul li{
    width: 40%;
    height: fit-content;
    padding: 15px;
    text-align: left;
    position: relative;
    left: -20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 grey, 0 5px 1px 0 grey;

}
.missi ul li:hover{
    background-color: #8d8d8d47;
    transition: 1s;
}
.missi ul li h6{
    text-align: left;
    font-size: 20px;
    padding-bottom: 3px;
    user-select: none;
    border-bottom: 2px solid black;
}
.missi ul li p{
    padding-top: 7px;
    text-align: justify;
    user-select: none;
    font-size: 15px;
}
.splits{
    padding-bottom: 50px;
}

.profileinfo{
    width: 70%;
    height: fit-content;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.inveldiv{
    height: fit-content;
    width: 100%;
    padding-bottom: 0;
    background-color: black;
}
.profilephoto{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    cursor: pointer;
}
.filler{
    width: 100%;
    height: 80%;
}
.leftpro{
    width: 20%;
    height: fit-content;
}
.leftpro ul{
    list-style: none;
    position: relative;
    left: -20px;
}
.rightpro{
    width: 100%;
    height: 400px;
}
.rightpro h5{
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rightpro p{
    text-align: left;
    padding: 10px;
    color: white;
}
.spceme{
    height: 300px;
}










@media screen and (max-width: 1280px) {

  





}



@media screen and (max-width: 1150px) {
   

.inveldiv{
    padding-bottom: 0;
}
.rightpro{
    padding: 0;
    height: fit-content;
}




}




@media screen and (max-width: 1100px) {



.splits ul li h6{
    font-size: 18px;
}

.splits ul li p{
    font-size: 15px;
}
.rightpro h5{
    font-size: 16px;
}
.rightpro p{
    font-size: 15px;
}


}




@media screen and (max-width: 1024px) {
    

    .missi ul li{
    }
    .missi ul{
        width: 80%;
    }
    .profileinfo{
        width: 80%;
        padding-bottom: 0;
    }
    .rightpro{
        padding: 0;
        height: fit-content;
    }
    
    .inveldiv{
        padding-bottom: 0;
    }
    .leftpro{
    }
    .spceme{
    }
    .profilephoto{
    }



   }


@media screen and (max-width: 1000px) {




}








@media screen and (max-width: 980px) {
   

.profileinfo{
    width: 85%;
    padding-bottom: 0;
}
.rightpro{
    padding: 0;
    height: fit-content;
}




}








@media screen and (max-width: 912px) {
    .profileinfo{
        padding-bottom: 0;
    }
    .rightpro{
        padding: 0;
        height: fit-content;
    }
    
    .aboutword{
        padding: 0;
    }
    .fa-star{
        color: red;
    }

}












@media screen and (max-width: 900px) {
    









}



@media screen and (max-width: 820px){



.rightspace{
    width: 50%;
}
.aboutword{
    width: 50%;
}
.profileinfo{
    padding-bottom: 0;
}
.inveldiv{
    padding-bottom: 0;
    height: fit-content;
}
.rightpro{
    padding: 0;
    height: fit-content;
}
.aboutword h5{
    font-size: 40px;
}
.insideabout h1{
    font-size: 25px;
}



}





@media screen and (max-width: 800px) {
 







}









@media screen and (max-width: 768px) {
  
  

.profileinfo{
    width: 90%;
}




}



@media screen and (max-width: 760px) {
  





}








@media screen and (max-width: 720px) {
  




.profileinfo{
    width: 95%;
    height: fit-content;
}


}


@media screen and (max-width: 712px) {
  

.inveldiv{
    padding: 0;
    height: fit-content;
}
.rightpro{
    padding: 0;
    height: fit-content;
    padding-bottom: 25px;
    
}
.profileinfo{
    padding-top: 25px;

}



}



@media screen and (max-width: 700px) {


.insideabout{
    display: block;
}
.insideabout h1{
    border-right: 0;
    border-bottom: 2px solid red;
    width: 100%;
}
.insideabout p{
    padding-top: 20px;
}
.splits ul{
    display: block;
}
.splits ul li{
    width: 50%;
    padding-top: 30px;
}
.leftpro{
    display: none;
}
.profileinfo{
    width: 100%;
}
.rightpro{
    background-image: url(../images/owner.jpg);
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-size: 30%;
}



}


@media screen and (max-width: 650px) {
  






}



@media screen and (max-width: 640px) {
 
   
.splits ul{
    width: 100%;
    position: relative;
    left: -20px;
}
.splits ul li{
    width: 60%;

}





}







@media screen and (max-width: 600px) {

    






}



@media screen and (max-width: 540px) {
 






}






@media screen and (max-width: 500px) {
 

    .splits ul li{
        width: 70%;
    }
    .insideabout{
        width: 90%;
    }
    .fabout{
        width: 100%;
    }



}


@media screen and (max-width: 480px) {

   
 




}



@media screen and (max-width: 420px) {

   
   
.rightspace{
    display: none;
}
.aboutword{
    width: 80%;
    text-align: left;
}
.aboutword h5{
    width: 100%;
    text-align: right;
    padding: 0;
    padding-left: 20px;
}
.splits{
    padding-bottom: 0;
}
.aboutspace{
    height: 200px;
}



}





@media screen and (max-width: 414px) {

  
   





}





@media screen and (max-width: 412px) {

  
   








}

@media screen and (max-width: 411px) {

  

.fabout{
    padding-top: 10px;
    padding-bottom: 10px;
}
.missi ul li{
    width: 90%;
}




}



@media screen and (max-width: 393px){
 
.insideabout p, .splits ul li p{
    font-size: 13px;
}
.insideabout h1, .missi h5, .rightpro h5, .splits ul li h6{
    font-size: 16px;
}
.rightpro p{
    text-align: justify;
}



}


@media screen and (max-width: 390px){
  
  




}


@media screen and (max-width: 384px){
  
    
 

.aboutword h5{
    font-size: 29px;
}
.iugjuiu{
    font-size: 12px;
}


}



@media screen and (max-width: 375px){

    





}






@media screen and (max-width: 360px) {

   

    .insideabout p, .splits ul li p, .rightpro p{
        font-size: 12px;
    }
    .insideabout h1, .missi h5, .rightpro h5, .splits ul li h6{
        font-size: 15px;
    }
    .rightpro p{
        text-align: justify;
    }



}


@media screen and (max-width: 353px) {

   
    .insideabout p, .splits ul li p, .rightpro p{
        font-size: 12px;
    }
    .insideabout h1, .missi h5, .rightpro h5, .splits ul li h6{
        font-size: 15px;
    }
    .rightpro p{
        text-align: justify;
    }




}





@media screen and (max-width: 320px){



.splits ul li{
    width: 88%;
}
.insideabout p, .splits ul li p, .rightpro p{
    font-size: 12px;
}
.insideabout h1, .missi h5, .rightpro h5, .splits ul li h6{
    font-size: 13px;
}
.rightpro p{
    text-align: justify;
}


}




@media screen and (max-width: 300px) {
 





}







@media screen and (max-width: 280px){
  





}



@media screen and (max-width: 240px) {

  


}
