*{
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
    box-sizing: border-box;
}
.header{
    width: 100%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);    
}
.logotext{
    color: white;
    font-size: 25px;
    text-align: left;
    padding: 10px;
    padding-left: 120px;
    user-select: none;
    cursor: pointer;
}
.preloadertext{
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 40%;
    justify-content: center;
    align-items: center;
    user-select: none;

    cursor: pointer;
}
.logotext:hover{
    transition: 1s;
    color: #2d2d2d;
}
.tophead{
    width: 100%;
    height: 530px;
    background-color: rgb(246, 246, 246);
}
nav{
    display: flex;

}
.leftnav{
    padding-left: 20px;
    text-align: left;
    width: 50%;
    height: fit-content;

}
.rightnav{
    width: 50%;
    height: fit-content;
    display: flex;

}
.navlinks{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.navlinks:hover{
    color: #5d5d5d;
    transition: 1s;

}
.speci{
    padding: 5px;
    color:whitesmoke;
    border-radius: 15px;
    padding-left: 15px;
    font-weight: 600;
    background-color: grey;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 12px;
    text-decoration: none;
    padding-right: 15px;
}
.speci:hover{
   
    color: grey;
    border: 2px solid black;
    background-color: white;
    transition: 1s;
}
.pagebreaker{
    height: 60px;
    background-color: none;
    width: 100%;
}
.firstbody{
    width: 100%;
    height: 400px;
    background-color: rgb(246, 246, 246);

}
.shyaway{
    width: 100%;
    height: 400px;
    display: flex;
    box-shadow: 0 8px 1px 0 purple, 5 12px 29px 5 purple;

    background-color: rgb(246, 246, 246);
}
.lefthandside{
    width: 28%;
    text-align: left;
    padding: 50px;

    height: fit-content;
    background-color: rgb(246, 246, 246);
}
.middleside{
    width: 40%;
    background-color: rgb(246, 246, 246);
    height: 400px;
}
.righthandside{
    width: 28%;
    height: 400px;
    padding: 50px;
}
.welcomtext{
    color: #6a6a6a;
    font-size: 35px;
    width: 100%;
    text-align: left;
    user-select: none;
    line-height: 50px;
}
spanlkk{
    color: #3d3d3d;
}
.rhspic{
    width: 80%;
    height: 500px;
}
.ctabtn{
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: rgb(255, 33, 33);
    font-weight: 600;
}
.ctaright{
    border: 2px solid  rgb(255, 67, 67);
    padding: 8px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 20px;
}
.ctabtn:hover{
    letter-spacing: 3px;
    transition: 2s;
    color: blue;
}
.ctabtn:hover .ctaright{
    color: blue;
    transition: 2s;
    border: 2px solid  blue;
}
.ctaetx{
    text-align: left;
    font-size: 25px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innerctalink{
    font-size: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #3d3d3d;
}
.quotes{
    color: #5d5d5d;
    text-align: right;
    font-size: 13px;
    font-style: italic;
}
quoty{
    color: black;
}
.d11{
    width: 100%;
    height: 80px;
}
.d12{
    width: 100%;
    height: 70px;
}
.d13{
    width: 100%;
    height: 60px;
}
.d14{
    width: 100%;
    height: 50px;
}
.seconddiv{
    width: 100%;
    height: fit-content;
    background-color: white;
}
.seconddiv h1{
    color: red;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.secdivul{
    display: flex;
    width: 100%;
    height: fit-content;
}
.secdivul h4{
    font-size: 40px;
    text-align: left;
    padding: 100px;
    padding-top: 40px;
    color: #3d3d3d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}
.secdivul h6{
    font-size: 20px;
    text-align: left;
    padding: 100px;
    padding-top: 40px;
    color: #5d5d5d;
    width: 50%;
}
.quotespace{
    height: 150px;
}
.thirddivrow{
    width: 85%;
    height: fit-content;
}
.thirddivrow{
    display: flex;
}
.thirddivimg{
    width: 150px;
    border-radius: 15px;
    height: 50px;
    position: relative;
    left: -20px;
}
.thirddivrow h4{
    text-align: left;
    display: flex;
    width: fit-content;
    font-size: 18px;
}
.thirddivrow p{
    color: #5d5d5d;
    font-size: 16px;
    width: 50%;
    text-align: left;
}
.thirdrowlink{
    color: #5d5d5d;
    text-decoration: none;
    font-weight: 600;
}
.thirdrowlink:hover{
    color: red;
    transition: 1s;
    letter-spacing: 1px;
}

.oscstar{
    border: 2px solid  #5d5d5d;
    padding: 8px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 20px;
}
.thirdrowlink:hover .oscstar{
    color: red;
    transition: 1s;
    letter-spacing: 1px;
    border: 2px solid  red;
}



.fourthdiv{
    width: 100%;
    height: fit-content;
    background-color: rgb(246, 246, 246);
}
.fourthdiv h1{
    color: red;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fourthdivul{
    display: flex;
    width: 100%;
    height: fit-content;
}
.fourthdivul h4{
    font-size: 28px;
    text-align: left;
    padding: 100px;
    padding-top: 40px;
    color: #2d2d2d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}
.fourthdivul h6{
    font-size: 16px;
    text-align: left;
    padding: 100px;
    padding-top: -0px;
    color: #7d7d7d;
    width: 50%;
    font-weight: 200;
    height: fit-content;
    padding-bottom: 0;
}
.firstett{
    width: 50%;
}
.secondett{
    width: 50%;
    display: block;
    height: fit-content;
}
spanhgbiuvg{
    font-weight: 600;
    color: #4d4d4d;
    font-size: 21px;
}


.fifthdiv{
    width: 100%;
    height: fit-content;
    background-color: white;
    text-align: center;
}
.fifthdiv h1{
    color: red;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fifthdiv p{
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 600;
}

.sixthdiv{
    width: 90%;
    height: 500px;
    display: flex;  
}
.sixthdiv a{
    text-decoration: none;
}
.innerdiva{
    width: 27%;
    height: fit-content;
    text-align: center;
    cursor: crosshair;
}
.innerdiva:hover{
    background-color: rgb(232, 232, 232);
    transition: 0.4s;
}
.innerdivpic{
    width: 100%;
}
.innerdiva h5{
    font-size: 15px;
    color: #4d4d4d;
    padding: 8px;
    text-transform: uppercase;
}
.innerdiva p{
    font-size: 13px;
    color: #7d7d7d;
    padding: 5px;
}
.swabula{
    text-align: left;
    width: 50%;
}

.swabula h5{
    width: 100%;
    text-align: left;
    padding-left: 170px;
    font-size: 16px
}
.swabula a{
    width: 100%;
    text-align: left;
    padding-left: 170px;
    text-decoration: none;
    color: #5d5d5d;
    font-size: 12px;
}

.profilepeek{
    display: flex;
    width: fit-content;
    text-align: left;
    position: relative;
    left: 10px;
    top: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    border-bottom: 2px solid grey;
}
.profilepic{
    border-radius: 50px;
    width: 70px;
    height: 70px;

}
.profilepeek h6{
    text-align: left;
    height: fit-content;
    position: relative;
    left: -80px;
}
spanfuvu{
    position: relative;
    left: -110px;
    top: -68px;
}




.footer{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: black;
}
.leftsa{
    width: 40%;
    height: 300px;
    text-align: left;
    padding: 5px;
}
.rightsa{
    width: 60%;
    height: 300px;
}
.footerlogo{
    color: white;
    font-size: 25px;
    text-align: left;
    padding: 10px;
    padding-left: 120px;
    user-select: none;
    cursor: pointer;
}
.subul{
    display: flex;
    width: 70%;
}
.subul a{
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}
.subula{
    display: flex;
    width: 70%;
}
.subula a{
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}
.subula a:hover{
    color: blue;
    transition: 1s;
}
.subul a:hover{
    color: blue;
    transition: 1s;
}
.subsinput{
    background-color: black;
    border: none;
    color: whitesmoke;
    text-align: left;
    padding: 7px;
    border-bottom: 1px solid whitesmoke;
}
.subsinput::placeholder{
    color: whitesmoke;
    font-style: italic;
}
.subsinput:focus{
    outline: transparent;
}
.subform{
    color: whitesmoke;
    padding: 5px;
    font-size: 12px;
    font-style: italic;
}
.subbtn{
    background-color: black;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.exttt{
    display: none;
}
.logotext{
    height: 60px;
    padding: 0;
    line-height: 60px;
}
.error-dis{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.error-dis h5{
    color: white;
    font-family: monospace;
    font-size: calc(100% + 45%);
    padding-top: 20px;
    user-select: none;
}
.error-dis p{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(100% + 45%);
    position: relative;
    bottom: 0;    
    user-select: none;
}








/*HERE'S THE END FOR THE MAIN SCREEN SIZE */





@media screen and (max-width: 1280px) {

  





}



@media screen and (max-width: 1150px) {
   
.logotext{
    font-size: 22px;
}
.navlinks{
    font-size: 13px ;
}
.lefthandside{
    padding: 10px;
}
.righthandside{
    padding: 10px;
}
.middleside{
}
.welcomtext{
    font-size: 30px;
}
.rhspic{
    width: 90%;
}
.seconddiv h1{
    letter-spacing: 5px;
}
.seconddiv h4{
    font-size: 30px;
}
.innerdivpic{
    height: 150px;
}
.sixthdiv p, .sixthdiv h5{
    text-align: left;
}
.sixthdiv h5{
    font-size: 15px;
}
.sixthdiv .d14{
    display: none;
}
spanfuvu{
    left: -170px;
}
.swabula h5{
    padding-left: 150px;
}
.swabula a{
    padding-left: 150px;
}

}




@media screen and (max-width: 1100px) {


    .profilepeek{
        width: 90%;
    }
    .profilepeek h6{
        font-size: 15px;
        width: 80%;
    }
    .swabula h5{
        padding-left: 130px;
    }
    .swabula a{
        padding-left: 130px;
    }
 




}




@media screen and (max-width: 1024px) {
    
.logotext{
    padding-left: 0px;
    position: relative;
    left: -120px;
    text-align: left;
}
.leftnav{
    width: 35%;
}
   .rightnav{
        width: 65%;
    }
    .navlinks{
        font-size: 15px;
        padding: 20px;
    }
    .header{
        height: fit-content;
    }
    .exttt{
        display: block;
    }
    .rightnav{
        display: flex;
        width: 100%;
        height: fit-content;
        position: fixed;
        background-color: black;
        top: 50px;
        text-align: left;
        padding: 5px;
        transition:  2s;
    }
    .yuguvbyg {
        display: none;
    }
    .navbtn{
        color: black;
        font-size: 20px;
        position: relative;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        right: -90px;
        border-radius: 5px;
        background-color: white;
    }
    .fourthdivul h4{
        padding: 50px;
        padding-top: 20px;
    }
    .secondett{
        padding: 50px;
        padding-bottom: 20px;
    }
    .llkjk{
        display: none;
    }
    .swabula h4{
        padding: 10px;
        padding-left: 90px;
    }
    .swabula h5{
        padding-left: 90px;
    }
    .swabula a{
        padding-left: 90px;
    }
    .thirddivrow h4{
        font-size: 15px;
    }
    .thirddivrow p{
        font-size: 13px;
    }
    .thirdrowlink{
        font-size: 12px;
    }
    .oscstar{
        font-size: 12px;
    }
    .hhjghbhh{
        display: none;
    }
    .icuygbcuhgc{
        display: none;
    }
    .cpojiojvjhj{
        display: none;
    }
    .ygdgvcytfwycwe56r{
        height: 30px;
    }
    spanhgbiuvg{
        font-size: 15px;
    }
    .profilepeek h6{
        width: 250px;
    }
    .swabula h5{
        padding-left: 90px;
    }
    .swabula h4{
        padding: 20px;
        font-size: 20px;
        padding-left: 0px;
    }
    .swabula a{
        width: 100%;
        padding-left:  90px;
    }
    .subula a, .subul a{
        font-size: 13px;
    }
    .fourthdiv h4{
        width: 80%;
        text-align: center;
        padding-bottom: 20px;
    }
    .secondett{
        padding-top: 0;
    }
    .secondett h6{
        text-align: center;
    }




   }


@media screen and (max-width: 1000px) {




}








@media screen and (max-width: 980px) {
   




}








@media screen and (max-width: 912px) {
    .tophead{
        height: 1100px;
        display: block;
    }
 .shyaway{
    display: block;
    height: fit-content;
 }
 .lefthandside{
    width: 100%;
    text-align: center;
    height: fit-content;
 }
 .middleside{
    width: 100%;
    height: fit-content;
 }
 .welcomtext{
    text-align: center;
    width: 100%;
 }
 .innerctalink, .ctaetx{
    text-align: center;
 }
 .rhspic{
    width: 350px;
    height: 400px;
 }

 .quotes{
    text-align: center;
 }
 .seconddiv h4{
    padding-bottom: 10px;
 }
 .seconddiv h6{
    padding-bottom: 20px;
 }
 .thirddivrow{
    display: block;
}
.thirddivimg{
    width: 250px;
    height: 120px;
}
.thirddivrow p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ygugucgygcu{
    display: block;
}
.swabula h4{
    width: 100%;
    text-align: center;
}
.swabula h5{
    text-align: center;
    width: 100%;
    padding-left: 0;
}
.fgghfhgz65ee54e5{
    height: 20px;
}
.header{
    width: 100%;
}
.speci{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    background-color: black;
}
.speci:hover{
    background-color: black;
}
.speci:unvisited{
    background-color: black;
}
.rightnav{
    width: 100%;
    display: block;
    text-align: left;
    
}
.yuguvbyg {
    display: none;
}

.navlinks{
    width: fit-content;
    text-align: left;
}
.navlinks:click{
    width: fit-content;
    background-color: black;
}
.fifthdiv p{
    padding-bottom: 30px;
}
.sixthdiv{
    display: block;
    height: fit-content;
}
.fourthdivul{
    display: block;
}
.innerdiva{
    width: 40%;
}
.secdivul{
    display: block;
}
.secdivul h4, .secdivul h6{
    text-align: center;
}
.footer{
    display: block;
}
.footerlogo{
    padding-left: 0;
    text-align: center;
    padding-bottom: 80px;
}
.leftsa{
    width: 40%;
    text-align: center;
    height: fit-content;
}

.rightnav{
    display: block;
}
.yuguvbyg {
    display: none;
}

.fourthdiv h1{
    text-align: center;
}
.swabula{
    padding-bottom: 50px;
}
spanfuvu{
    left: -90px;
    font-style: italic;
}
.secondett h6{
    width: 80%;
    text-align: center;
    padding: 0;
    font-style: italic;
}
.profilepeek{
    width: 100%;
}
.spanhgbiuvg{
    color: black;
    font-weight: 600;
}
.navlinks{
    padding: 0;
    line-height: 40px;
    transition: 2s;
  }
  .speci{
    padding: 0;
    line-height: 50px;
  }
  .yuguvbyg {
    display: none;
}
.secondett h6{
    text-align: left;
    position: relative;
    left: 0px;
}


}












@media screen and (max-width: 900px) {
    


.lefthandside{
    width: 90%;
}







}



@media screen and (max-width: 820px){

spanfuvu{
    left: -150px;
    font-style: italic;
}
.navlinks{
    padding: 0;
    line-height: 50px;
  }
  .speci{
    padding: 0;
    line-height: 50px;
  }



}





@media screen and (max-width: 800px) {
 







}









@media screen and (max-width: 768px) {
  
    spanfuvu{
        left: -170px;
        font-style: italic;
    }
    .profilepeek h6{
        left: 10px;
        text-align: left;
    }




}



@media screen and (max-width: 760px) {
  





}








@media screen and (max-width: 720px) {
  

.swabula{
    width: 80%;
}
.swabula a{
    position: relative;
    left:   50px;
}
.swabula h4{
    padding-top: 20px;
}
.righthandside{
    height: fit-content;
}
.tophead{
    height: 1150px;
}




}


@media screen and (max-width: 712px) {
  





}



@media screen and (max-width: 700px) {

.logotext{
    left: -90px;
}





}


@media screen and (max-width: 650px) {
  
.navbtn{
    left: 65px;
}
.sixthdiv{
    width: 100%;
    text-align: center;
}
.innerdiva{
    width: 60%;
    text-align: center;
}
.innerdivpic{
    width: 370px;
    height: 200px;
}
.fourthdivul h4{
    padding: 0;
    padding-bottom: 20px;
}
.swabula h4{
    padding-top: 30px;
}


}



@media screen and (max-width: 640px) {
 
   

.firstett{
    width: 100%;
}


}







@media screen and (max-width: 600px) {

    

.swabula a{
    left: 20px;
}


}



@media screen and (max-width: 540px) {
 
.logotext{
    width: 100%;
}
.innerdiva{
    width: 100%;
    left: 0;
}
.innerdiva h5, .innerdiva p{
    width: 70%;
    text-align: center;
}
.righthandside{
    width: 80%;
}
.tophead{
    height: 1080px;
}
.secdivul{
    width: 80%;
}
.secdivul h4, .secdivul h6{
    width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.thirddivrow p{
    width: 80%;
}
.secondett {
    padding: 0;
    width: 100%;
}
.profilepeek{
    width: 80%;
    left: 0;
}
.rightsa{
    width: 100%;
}
.subul, .subula, .subform{
    position: relative;
    left: -20px;
    width: 80%;
    text-align: center;
}
.subform{
    text-align: left;
}
.subsinput{
    width: 90%;
}
.secondett h6{
    width: 50%;
    padding: 0;
    left: 0;
    right: 0;
}
.profilepeek h6{
    width: 100%;
}
.navlinks, .speci{
    font-size: 13px;
}
.footerlogo{
    padding: 0;
    padding-bottom: 50px;
}


}






@media screen and (max-width: 500px) {
 



.logotext{
    left: -80px;
    width: 150%;
    text-align: left;
}
.swabula a{
    text-align: center;
    left: 0;
    padding: 0;
}
.navbtn{
    font-size: 18px;
    left: 50px;
}
.secondett h6{
    width: 80%;
}
spanfuvu{
    display: none;
}




}


@media screen and (max-width: 480px) {

   
 
.subform{
    width: 100%;
}
.footerlogo{
    width: 300px;
    position: relative;
    left: -50px;
    
  }



}



@media screen and (max-width: 420px) {

   
   
.logotext{
    left: -60px;
}
.navbtn{
    left: 40px;
}
.seconddiv h1, .fourthdiv h1{
    font-size: 30px;
}
.seconddiv h4{
    font-size: 25px;
}
.thirddivrow{
    position: relative;
    left: -20px;
}
.footerlogo{
    left: -65px;
}




}





@media screen and (max-width: 414px) {

  
   .profilepeek{
    width: 100%;
   }
   .profilepeek h6{
   }
   .subform{
    width: 110%;
    left: -35px;
   }
   .subsinput{
    width: 85%;
   }
   .secondett h6{
    text-align: left;
   }
   .seconddiv h1, .fourthdiv h1, .fifthdiv h1{
    font-size: 25px;
    width: 100%;
   }
   .secdivul h4, .firstett h4, .secdivul h6, .fifthdiv p{
    font-size: 20px;
    width: 100%;
   }
   .innerdiva{
    width: 100%;
   }
   .innerdiva p{
    font-size: 15px;
    width: 95%;
   }
   .innerdiva h5{
    width: 100%;
   }
   .innerdivpic{
    width: 98%;
   }
   .logotext{
    left: -65px;
   }
   .navbtn{
    left: 30px;
   }
   .thirddivimg{
    width: 70%;
}
.thirddivrow p{
    width: 100%;
    text-align: justify;
}





}





@media screen and (max-width: 412px) {

  
   








}

@media screen and (max-width: 411px) {

  
   
.secdivul h6{
    font-size: 15px;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
}
.thirddivrow h4{
    width: 100%;
}







}



@media screen and (max-width: 393px){
 



}


@media screen and (max-width: 390px){
  
     .thirddivrow p{
        font-size: 15px;
     } 
     .innerdiva p{
        font-size: 13px;
        text-align: justify;
     }


}


@media screen and (max-width: 384px){
  
    
  .footerlogo{
    width: 300px;
    position: relative;
    left: -80px;
    font-size: 20px;
  }

  .navlinks{
    padding: 0;
    line-height: 40px;
  }
  .speci{
    padding: 0;
    line-height: 40px;
  }
  .logotext{
    font-size: 18px;
    left: -50px;
}
.navbtn{
    font-size: 15px;
    left: 22px;
}
}



@media screen and (max-width: 375px){

    .seconddiv h1, .fourthdiv h1, .fifthdiv h1{
        font-size: 22px;
        width: 100%;
       }
       .secdivul h4, .firstett h4, .secdivul h6, .fifthdiv p{
        font-size: 18px;
        width: 100%;
       }
       .thirddivrow p{
        font-size: 15px;
     } 
     .innerdiva{
        width: 90%;
     }
     .innerdiva p{
        font-size: 13px;
        text-align: justify;
        width: 90%;
     }


}






@media screen and (max-width: 360px) {

   
.logotext{
    font-size: 18px;
    left: -50px;
}
.navbtn{
    font-size: 15px;
    left: 22px;
}
.preloadertext{
    font-size: 20px;
}




}


@media screen and (max-width: 353px) {

   

.seconddiv h1, .fourthdiv h1, .fifthdiv h1{
    font-size: 19px;
    width: 100%;
   }
   .secdivul h4, .firstett h4, .secdivul h6, .fifthdiv p{
    font-size: 16px;
    width: 100%;
   }



}





@media screen and (max-width: 320px){


.leftnav{
    width: fit-content;
    text-align: center;
}
.logotext{
    left: -35px;
    padding-left: 0;
}
.exttt{
    width: fit-content;
    left: -10px;
    position: relative;
}
.rhspic{
    width: 80%;
}
.innerdivpic{
    height: 160px;
}
.innerdiva h5{
    font-size: 13px;
    width: 90%;
}
.innerdiva p{
    font-size: 13px;
}
.thirddivimg{
    width: 60%;
}
.footerlogo{
    font-size: 15px;
}
.subform, .subul a, .subula a{
    font-size: 12px;
}
.seconddiv h1, .fourthdiv h1, .fifthdiv h1{
    font-size: 16px;
    width: 100%;
   }
   .innerdiva p, .secdivul h4, .firstett h4, .secdivul h6, .fifthdiv p{
    font-size: 14px;
    width: 100%;
   }
   .thirddivrow h4, .thirddivrow p{
    font-size: 11px;
   }
   .secondett h6,.innerdiva h5, .innerdiva p{
    font-size: 12px;
   }
   .profilepeek h6{
    font-size: 12px;
   }
   .navbtn{
    left: 15px;
   }
}




@media screen and (max-width: 300px) {
 





}







@media screen and (max-width: 280px){
  
.preloadertext{
    font-size: 18px;
    left: -10px;
}
.thirddivimg{
    height: 80px;
}
.navbtn{
    left: 20px;
}
.tophead{
    height: 1160px;
}
.innerdivpic{
    height: 130px;
}




}



@media screen and (max-width: 240px) {

  
    .error-dis{
        width: 100%;
        display: block;
    }
    .error-dis p{
        font-size: 15px;
        padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #preloader, .header, .tophead, .seconddiv, .thirddiv, .fourthdiv, .fifthdiv, .sixthdiv, .footer {
        display: none;
    }

}
