




@media screen and (max-width: 1280px) {

  





}



@media screen and (max-width: 1150px) {
   







}




@media screen and (max-width: 1100px) {







}




@media screen and (max-width: 1024px) {
    





   }


@media screen and (max-width: 1000px) {




}








@media screen and (max-width: 980px) {
   




}








@media screen and (max-width: 912px) {
    


}












@media screen and (max-width: 900px) {
    









}



@media screen and (max-width: 820px){







}





@media screen and (max-width: 800px) {
 







}









@media screen and (max-width: 768px) {
  
  






}



@media screen and (max-width: 760px) {
  





}








@media screen and (max-width: 720px) {
  







}


@media screen and (max-width: 712px) {
  





}



@media screen and (max-width: 700px) {






}


@media screen and (max-width: 650px) {
  






}



@media screen and (max-width: 640px) {
 
   






}







@media screen and (max-width: 600px) {

    






}



@media screen and (max-width: 540px) {
 






}






@media screen and (max-width: 500px) {
 






}


@media screen and (max-width: 480px) {

   
 




}



@media screen and (max-width: 420px) {

   
   





}





@media screen and (max-width: 414px) {

  
   





}





@media screen and (max-width: 412px) {

  
   








}

@media screen and (max-width: 411px) {

  






}



@media screen and (max-width: 393px){
 



}


@media screen and (max-width: 390px){
  
  




}


@media screen and (max-width: 384px){
  
    
 




}



@media screen and (max-width: 375px){

    





}






@media screen and (max-width: 360px) {

   





}


@media screen and (max-width: 353px) {

   





}





@media screen and (max-width: 320px){







}




@media screen and (max-width: 300px) {
 





}







@media screen and (max-width: 280px){
  





}



@media screen and (max-width: 240px) {

  


}
